.item-component {
  height: 14.438rem;
  width: 10.938rem;
  text-decoration: none;
  color: var(--black);
}

.item__image-wrapper {
  position: relative;
  height: 10.938rem;
  border-radius: 1.125rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0.5rem;
}

.item__image-wrapper--loading {
  background-color: var(--secondary);
}

.item__price-wrapper {
  background-color: white;
  border-radius: 3.125rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 1;
  height: 2.375rem;
  max-height: 2.375rem;
  padding: 0.25rem 0.781rem;
  font-size: 0.813rem;
  font-weight: 500;
}

.item__price-wrapper p:first-of-type {
  color: var(--orange);
  line-height: 16px;
}

.item__price-wrapper p:last-of-type {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.item__price--origin {
  font-size: 0.625rem;
}

.item__price--sales {
  color: var(--orange)
}

.item__price--error {
  color: var(--gray)
}

.item__price-wrapper p:last-of-type span:last-of-type {
  font-size: 0.813rem;
}

.item__brand-name {
  font-size: 0.938rem;
  font-weight: 400;
  margin-top: 0.5rem;
}

.item__name {
  width: 100%;
  height: 1.25rem;
  font-size: 0.938rem;
  font-weight: 500;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.loading-spinner {
  width: calc(10.938rem / 3);
  height: calc(10.938rem / 3);
  margin: auto auto;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  border: 0.25rem solid var(--gray);
  border-top: 0.25rem solid transparent;
  border-radius: 100%;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}